body{
    text-align: center;
}
#playground{
    background-image: url("../img/playground.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 600px;
    height:720px;
    border:1px solid black;
    position: relative;
}
#playground p{
    color:green;font-weight: bolder;
    position: absolute;
    width:160px;height:50px;
    text-align: center;border:2px solid green;border-radius: 10px;
    left:405px;
    top:110px;
}
#playground p+p{
    top:160px;
}
#playground p+p+p{
    top:211px;
}
#second{
	width: 20%;
	margin: 0 auto;
	overflow: hidden;
}
#second #more{
	float: left;
}
#second #spin{
	float:right;
}
